{% extends "base.html" %}

{% block title %}Albums - XiaCapture{% endblock %}

{% block content %}
<h1 class="page-title">Albums</h1>

<div class="album-grid">
  {% for album in albums %}
    <div class="album-item 
                {% if loop.index == 1 %} item--feature 
                {% elif loop.index % 5 == 0 %} item--w3 item--h2 
                {% elif loop.index % 3 == 0 %} item--w2 
                {% endif %}">
      <a href="{{ url_for('view_album', album_name=album.name) }}">
        {% if album.cover %}
          <img src="{{ album.cover }}" alt="{{ album.name }}">
        {% else %}
          <div class="album-cover placeholder">
            <span>No cover</span>
          </div>
        {% endif %}
        <div class="album-info">
          <h2>{{ album.name }}</h2>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}


