{% extends "base.html" %}
{% block title %}Home - My Lens{% endblock %}
{% block content %}
<div class="homepage">
    <h1 class="main-title">My Lens</h1>
    <div class="main-image-container">
        <img src="https://res.cloudinary.com/dqmez4f6x/image/upload/v1758647655/pexels-samuel-walker-15032-569098_qxoc08.jpg" alt="Homepage Image" class="main-image">
    </div>
</div>

<footer style="text-align:center; font-size:12px; color:#aaa; margin:10px; position: relative; z-index: 10;">
    <a href="{{ url_for('login') }}">Admin login</a>
</footer>
{% endblock %}





